select distinct Prsdatenvar.PRSNUM, PRSDATEN.NAME_NACHNAME, PRSDATEN.NAME_VORNAME, PRSARBVH.AUSTRITT_DATUM 
from PRSDATENVAR 
LEFT JOIN PRSARBVH on PRSDATENVAR.ARBVHID = PRSARBVH.ID
LEFT Join PRSDATEN on PRSDATENVAR.PRSNUM = PRSDATEN.PRSNUM
where PRSARBVH.AUSTRITT_DATUM > CURRENT_DATE or PRSARBVH.AUSTRITT_DATUM is NULL
GROUP BY PRSDATEN.NAME_NACHNAME, PRSDATEN.NAME_VORNAME,Prsdatenvar.PRSNUM, PRSARBVH.AUSTRITT_DATUM
order by 1;


select PRSARBVH.PRSNUM, PRSARBVH.AUSTRITT_DATUM 
from PRSARBVH where PRSARBVH.AUSTRITT_DATUM is NULL  /* where PRSARBVH.AUSTRITT_DATUM > CURRENT_DATE or PRSARBVH.AUSTRITT_DATUM is NULL */
order by 2;