alter table SYSREMINDER ADD T1 VARCHAR(128);

COMMIT;

update SYSREMINDER set SYSREMINDER.T1 = SYSREMINDER.BETREFF;

COMMIT;

alter table SYSREMINDER drop BETREFF;

COMMIT;

alter table SYSREMINDER alter t1 to BETREFF;

COMMIT;