Update ABRDATEN_KST set ABRDATEN_KST.BETRAG = 2.54, ABRDATEN_KST.GESAMTBETRAG = round((2.54*ABRDATEN_KST.ANZAHL),2) 
WHERE ABRDATEN_KST.PARENTID in (Select ABRDATEN.ID from ABRDATEN where ABRDATEN.JAHR = 2016 and ABRDATEN.Monat = 10 and ABRDATEN.LOHNART = "ZUBLL0D01");

select * from ABRDATEN_KST WHERE ABRDATEN_KST.PARENTID in (Select ABRDATEN.ID from ABRDATEN where ABRDATEN.JAHR = 2016 and ABRDATEN.Monat = 10 and ABRDATEN.LOHNART = "ZUBLL0D01");


Update ABRDATEN set ABRDATEN.BETRAG = 2.54, ABRDATEN.BETRAG_SOLL = 2.54, ABRDATEN.GESAMTBETRAG = round((2.54*ABRDATEN.ANZAHL),2), 
ABRDATEN.GESAMTBETRAG_SOLL = round((2.54*ABRDATEN.ANZAHL),2) 
WHERE ABRDATEN.JAHR = 2016 and ABRDATEN.Monat = 10 and ABRDATEN.LOHNART = "ZUBLL0D01";

select * from ABRDATEN WHERE ABRDATEN.JAHR = 2016 and ABRDATEN.Monat = 10 and ABRDATEN.LOHNART = "ZUBLL0D01";

Update ABRDATEN_KST set ABRDATEN_KST.BETRAG = 4.23, ABRDATEN_KST.GESAMTBETRAG = round((4.23*ABRDATEN_KST.ANZAHL),2) 
WHERE ABRDATEN_KST.PARENTID in (Select ABRDATEN.ID from ABRDATEN where ABRDATEN.JAHR = 2016 and ABRDATEN.Monat = 10 and ABRDATEN.LOHNART = "ZUBFF0D01");

select * from ABRDATEN_KST WHERE ABRDATEN_KST.PARENTID in (Select ABRDATEN.ID from ABRDATEN where ABRDATEN.JAHR = 2016 and ABRDATEN.Monat = 10 and ABRDATEN.LOHNART = "ZUBFF0D01");


Update ABRDATEN set ABRDATEN.BETRAG = 4.23, ABRDATEN.BETRAG_SOLL = 4.23, ABRDATEN.GESAMTBETRAG = round((4.23*ABRDATEN.ANZAHL),2), 
ABRDATEN.GESAMTBETRAG_SOLL = round((4.23*ABRDATEN.ANZAHL),2) 
WHERE ABRDATEN.JAHR = 2016 and ABRDATEN.Monat = 10 and ABRDATEN.LOHNART = "ZUBFF0D01";

select * from ABRDATEN WHERE ABRDATEN.JAHR = 2016 and ABRDATEN.Monat = 10 and ABRDATEN.LOHNART = "ZUBFF0D01";
