select * from EXPORTGRP where EXPORTGRP.BEZEICHNUNG = "Standard";

select * from EXPORTDEF where EXPORTDEF.EXPORTGRPID = 4;

select EXPORTDEF.ID from EXPORTDEF where EXPORTDEF.EXPORTGRPID = 4;

select * from EXPORTCOLDEF where EXPORTCOLDEF.PARENTID in(4,76,36,66,39,71,77,51,52,80,72,75,73,74,78,79,58,67,81,69,65,70);

select * from EXPORTZUSATZ where EXPORTZUSATZ.PARENTID in(4,76,36,66,39,71,77,51,52,80,72,75,73,74,78,79,58,67,81,69,65,70);