
select Prsdatenvar.PRSNUM, PRSDATENVAR.ARBVHID, PRSDATENVAR.Jahr, PRSDATENVAR.MONAT, count(PRSDATENVAR.VONTAG) 
from PRSDATENVAR 
group by Prsdatenvar.PRSNUM, PRSDATENVAR.ARBVHID, PRSDATENVAR.Jahr, PRSDATENVAR.MONAT
having count(PRSDATENVAR.VONTAG) > 1;

select PRSARBVH.PRSNUM, count(PRSARBVH.ID) from PRSARBVH group by PRSARBVH.PRSNUM having count(PRSARBVH.ID) > 1;
select PRSARBVH.ID, count(PRSARBVH.ID) from PRSARBVH group by PRSARBVH.ID having count(PRSARBVH.ID) = 1;
select PRSARBVH.PRSNUM, PRSARBVH.ID, count(PRSARBVH.ID) from PRSARBVH group by PRSARBVH.PRSNUM,PRSARBVH.ID having count(PRSARBVH.ID) = 1;