Update PRSDATENVAR set PRSDATENVAR.LST_KONF_EHEGAT = 0 where PRSDATENVAR.PRSNUM not in(52,250,269,67);
Update PRSDATENVAR set PRSDATENVAR.LST_KONF_EHEGAT = 1 where PRSDATENVAR.PRSNUM in(82);

Update PRSDATENVAR 
set PRSDATENVAR.LST_STEUERKLASSE = NULL, 
PRSDATENVAR.LST_FREIBETRG_JAHR = NULL,
PRSDATENVAR.LST_FREIBETRG_MONAT = NULL,
PRSDATENVAR.LST_FREIBETRG_TAG = NULL,
PRSDATENVAR.LST_FREIBETRG_WOCHE = NULL,
PRSDATENVAR.LST_HINZUBETRG_JAHR = NULL,
PRSDATENVAR.LST_HINZUBETRG_MONAT = NULL,
PRSDATENVAR.LST_HINZUBETRG_TAG = NULL,
PRSDATENVAR.LST_HINZUBETRG_WOCHE = NULL,
PRSDATENVAR.LST_KINDERFREIBETRG = NULL,
PRSDATENVAR.LST_KONF_ARBNEH = NULL,
PRSDATENVAR.LST_KONF_EHEGAT = NULL,
PRSDATENVAR.LST_FINANZAMT = NULL
where PRSDATENVAR.PRSNUM in (113, 236, 284);

Update PRSDATEN set PRSDATEN.LST_STEUERIDNUM = NULL where PRSDATEN.PRSNUM in(113,236,284);

/* 6500er */
Update PRSDATENVAR 
set PRSDATENVAR.GRNGF_STATUS = 21,
PRSDATENVAR.GRNGF_RV_BEFR = "T"
where PRSDATENVAR.PRSNUM in (284); 

/* 6100er */
Update PRSDATENVAR 
set PRSDATENVAR.GRNGF_STATUS = 20,
PRSDATENVAR.GRNGF_RV_BEFR = "F"
where PRSDATENVAR.PRSNUM in (113,236);