select * from KR_BAS as a where a.PRSNUM = 50122 and a.JAHR = 2016 order by a.MONAT;

SELECT * from KR_Bas as a Left JOIN KR_BETRAG as b on a.ID = b.PARENTID where a.JAHR = 2016 and a.MONAT = 5 and a.PRSNUM = 50002;

select * from KR_BAS where KR_BAS.KORREKTURJAHR = 2016 and KR_BAS.KORREKTURMONAT > 8 and KR_BAS.PRSNUM = 457;

select * from KR_BETRAG where KR_BETRAG.PARENTID in (820659, 820480) order by KSTART;

SELECT a.PRSNUM, a.KORREKTURMONAT, a.KORREKTURNUM, a.KORREKTURSTATUS, a.MONAT from KR_Bas as a 
where a.KORREKTURJAHR = 2016 
and a.KORREKTURMONAT = 9 
and a.PRSNUM = 457


SELECT b.PARENTID, a.PRSNUM, a.KORREKTURMONAT, a.KORREKTURNUM, a.KORREKTURSTATUS, a.MONAT, b.KSTART, b.BETRAG 
from KR_Bas as a Left JOIN KR_BETRAG as b on a.ID = b.PARENTID 
where a.JAHR = 2016 /* and a.MONAT = 5 */ 
and a.PRSNUM = 50122
order by a.KORREKTURSTATUS, b.KSTART;

select KR_BETRAG.ID, KR_BETRAG.BETRAG from KR_BETRAG 


select * from KR_BETRAG where 
KR_BETRAG.KSTART LIKE '[%'
AND KR_BETRAG.JAHR = 2016
AND KR_BETRAG.MONAT >= 8
AND KR_BETRAG.BEMERKUNG NOT LIKE "Auszahlung"
AND KR_BETRAG.BEMERKUNG NOT LIKE "%(AN)%"
AND KR_BETRAG.BEMERKUNG NOT LIKE "%Steuer%"
AND KR_BETRAG.BEMERKUNG NOT LIKE "%Solidarität%"
AND KR_BETRAG.BEMERKUNG NOT LIKE "%Auszahlung%"
AND KR_BETRAG.BEMERKUNG NOT LIKE "%steuer%"
AND KR_BETRAG.BEMERKUNG NOT LIKE "%Abzug%"
AND KR_BETRAG.BEMERKUNG NOT LIKE "%Vermögenswirksam%"
AND KR_BETRAG.BEMERKUNG NOT LIKE "%Ausgleich%"
AND KR_BETRAG.BEMERKUNG NOT LIKE "%Korrektur%"
and NOT Exists 
(select KR_KSTL.ID from KR_KSTL where KR_KSTL.PARENTID = KR_BETRAG.ID)
order by KR_BETRAG.MONAT;