update KNDDATEN set KNDDATEN.TESTKUNDEFLAG = "T"

update KNDDATEN set KNDDATEN.TESTKUNDEFLAG = "F" WHERE KNDDATEN.NUM in (1005, 1100, 1230, 1290, 3540, 3550, 3710, 3920, 4150, 4160, 5320, 5620, 5630, 5640, 6010, 6030);

select KNDDATEN.NUM, KNDDATEN.TESTKUNDEFLAG from KNDDATEN where KNDDATEN.TESTKUNDEFLAG = "F"

Commit;