select 
PRSDATENVAR.PRSNUM, 
PRSDATENVAR.KVDR_FLAG, 
PRSDATENVAR.KVDR_BEITRAG_FLAG, 
PRSDATENVAR.KVDR_VERSBEZUG, 
PRSDATENVAR.KVDR_VERSBEZUG_MAX, 
PRSDATENVAR.KVDR_MEHRFACHBEZUG,
PRSDATENVAR.KVDR_KENNZ_VERAENDMELD,
PRSDATENVAR.KVDR_VERSBEZUG_STFREI,
PRSDATENVAR.KVDR_KENNZ_BEIHILFE  
from PRSDATENVAR 
where PRSDATENVAR.KVDR_FLAG >= 0 and PRSDATENVAR.JAHR = 2016 and PRSDATENVAR.MONAT = 06;

select count(DISTINCT PRSDATENVAR.PRSNUM) from PRSDATENVAR where PRSDATENVAR.JAHR = 2016 and PRSDATENVAR.Monat = 06;