select * from KVDATEN;

select KVDATEN.BETRIEBSNUM_ORGEINHEIT, count(KVDATEN.BETRIEBSNUM_ORGEINHEIT) from KVDATEN group by KVDATEN.BETRIEBSNUM_ORGEINHEIT;

select * from KVDATEN where KVDATEN.BETRIEBSNUM_ORGEINHEIT in ('01085583','67573219') and (KVDATEN.GUELTIGBIS is NULL or KVDATEN.GUELTIGBIS = 0);

select * from SV_ORGEINHEIT where SV_ORGEINHEIT.BETRIEBSNUM = '33526082'