select distinct PRSDATENVAR.PRSNUM, PRSDATENVAR.SV_PRSGRP, PRSDATENVAR.JAHR, PRSDATENVAR.MONAT, PRSARBVH.EINTRITT_DATUM, PRSARBVH.AUSTRITT_DATUM, PRSARBVH.BEFRISTET_BIS_DATUM 
FROM PRSDATENVAR left join PRSARBVH on PRSDATENVAR.ARBVHID = PRSARBVH.ID
where PRSDATENVAR.SV_PRSGRP = '190'
and PRSDATENVAR.JAHR = 2016 and PRSDATENVAR.Monat > 5
group by PRSDATENVAR.PRSNUM, PRSDATENVAR.SV_PRSGRP, PRSARBVH.AUSTRITT_DATUM, PRSARBVH.BEFRISTET_BIS_DATUM, PRSARBVH.EINTRITT_DATUM, PRSDATENVAR.JAHR, PRSDATENVAR.MONAT;

select * FROM PRSARBVH where PRSARBVH.AUSTRITT_DATUM is null and PRSARBVH.BEFRISTET_FLAG = 'T' And PRSARBVH.BEFRISTET_BIS_DATUM < '30.11.2016';