select PRSDATEN.PRSNUM, 
PRSDATEN.NAME_NACHNAME, 
PRSBANKVERB.ARBVHID,
PRSBANKVERB.ZHLGTYPE,
PRSBANKVERB.BANK_IBAN,
PRSBANKVERB.BANK_KONTONUM, 
COALESCE(PRSBANKVERB.BETRAG,'Berechnet') as Betrag, 
PRSBANKVERB.VERWZWECK_1, 
PRSBANKVERB.VERWZWECK_2, 
PRSBANKVERB.GUELTIGBIS 
from PRSDATEN
left join PRSBANKVERB on PRSDATEN.PRSNUM = PRSBANKVERB.PRSNUM 
where PRSBANKVERB.ZHLGTYPE in (200, 210, 220, 300, 310, 320, 400, 410, 420)
and (PRSBANKVERB.GUELTIGBIS is NULL or PRSBANKVERB.GUELTIGBIS = 0 or PRSBANKVERB.GUELTIGBIS > (select extract(Year from CURRENT_DATE)*100 + extract(Month from CURRENT_DATE) from rdb$database)))
order by PRSDATEN.PRSNUM;


select PRSDATEN.PRSNUM, 
PRSDATEN.NAME_NACHNAME, 
PRSBANKVERB.ARBVHID,
PRSBANKVERB.ZHLGTYPE,
PRSBANKVERB.BANK_IBAN,
PRSBANKVERB.BANK_KONTONUM, 
COALESCE(PRSBANKVERB.BETRAG,'Berechnet') as Betrag, 
PRSBANKVERB.VERWZWECK_1, 
PRSBANKVERB.VERWZWECK_2
from PRSBANKVERB 
left join PRSDATEN on PRSDATEN.PRSNUM = PRSBANKVERB.PRSNUM 
where PRSBANKVERB.ZHLGTYPE in (200, 210, 220, 300, 310, 320, 400, 410, 420)
and (PRSBANKVERB.GUELTIGBIS is NULL or PRSBANKVERB.GUELTIGBIS = 0 or PRSBANKVERB.GUELTIGBIS > 201612)
order by PRSDATEN.PRSNUM;


select PRSDATEN.PRSNUM, 
PRSDATEN.NAME_NACHNAME, 
PRSBANKVERB.ARBVHID,
PRSBANKVERB.ZHLGTYPE,
PRSBANKVERB.BANK_IBAN,
PRSBANKVERB.BANK_KONTONUM, 
COALESCE(PRSBANKVERB.BETRAG,'Berechnet') as Betrag, 
PRSBANKVERB.VERWZWECK_1, 
PRSBANKVERB.VERWZWECK_2,
PRSLHNSCHEMA.LOHNART
from PRSBANKVERB 
left join PRSDATEN on PRSDATEN.PRSNUM = PRSBANKVERB.PRSNUM
right outer join PRSLHNSCHEMA on PRSBANKVERB.ARBVHID = PRSLHNSCHEMA.ARBVHID and PRSBANKVERB.PRSNUM = PRSLHNSCHEMA.PRSNUM 
where PRSBANKVERB.ZHLGTYPE in (200, 210, 220, 300, 310, 320, 400, 410, 420)
and (PRSBANKVERB.GUELTIGBIS is NULL or PRSBANKVERB.GUELTIGBIS = 0 or PRSBANKVERB.GUELTIGBIS > 201612)
and PRSLHNSCHEMA.LOHNART = 'VLBLL0X'
order by PRSDATEN.PRSNUM;


select PRSDATEN.PRSNUM,
Prsdaten.NAME_VORNAME, 
PRSDATEN.NAME_NACHNAME, 
PRSBANKVERB.ARBVHID,
PRSBANKVERB.ZHLGTYPE  as VWL_2xx_DV_3xx_PK_4xx,
PRSBANKVERB.BANK_IBAN,
PRSBANKVERB.BANK_KONTONUM, 
COALESCE(PRSBANKVERB.BETRAG,'Berechnet') as Betrag,
PRSBANKVERB.CREDITOR_NAME as Empfaenger,
PRSBANKVERB.VERWZWECK_1, 
PRSBANKVERB.VERWZWECK_2,
a.VLBLL0X
from PRSBANKVERB 
left join PRSDATEN on PRSDATEN.PRSNUM = PRSBANKVERB.PRSNUM
left outer join (select PRSLHNSCHEMA.PRSNUM, PRSLHNSCHEMA.ARBVHID, count(PRSLHNSCHEMA.PRSNUM) VLBLL0X 
from PRSLHNSCHEMA 
where PRSLHNSCHEMA.LOHNART = 'VLBLL0X' group by PRSLHNSCHEMA.PRSNUM,PRSLHNSCHEMA.ARBVHID) a
on PRSBANKVERB.ARBVHID = a.ARBVHID and PRSBANKVERB.PRSNUM = a.PRSNUM 
where PRSBANKVERB.ZHLGTYPE in (200, 210, 220, 300, 310, 320, 400, 410, 420)
and (PRSBANKVERB.GUELTIGBIS is NULL or PRSBANKVERB.GUELTIGBIS = 0 or PRSBANKVERB.GUELTIGBIS > 201612)
order by PRSDATEN.PRSNUM;
 



select PRSLHNSCHEMA.PRSNUM, PRSLHNSCHEMA.ARBVHID, count(PRSLHNSCHEMA.PRSNUM) Test from PRSLHNSCHEMA where PRSLHNSCHEMA.LOHNART = 'VLBLL0X' group by PRSLHNSCHEMA.PRSNUM,PRSLHNSCHEMA.ARBVHID;